.fototeca {

    &__container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__cuadricula {
        // background: aqua;

        display: flex;
        flex-wrap: wrap;

        #modal-fototeca {

            .modal-fototeca {

                .slide {

                    img {
                        width: auto;
                        height: 100%;
                        max-height: 60vh;
                        margin: 0 auto;
                    }

                    .titulo {
                        font-family: "OpenSans", sans;
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: bold;
                        margin-top: 20px;
                    }

                    .descripcion {
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: 0px;
                        color: #737a7c;
                        font-family: "OpenSans", sans;
                        font-weight: bold;
                        margin-top: 10px;

                        em {
                            font-style: italic;
                        }
                    }
                    .year {
                        font-size: 13px;
                        letter-spacing: 1px;
                        color: #737a7c;
                        font-family: "OpenSans", sans;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    &__card {

        width: 25%;
        padding: 8px;

        // &:hover {
        //     border-bottom: 3px solid c(yellow);
        // }

        .box-aspect {
            // @extend %box-aspect-ratio;

            img {
                // @extend %imagen-aspect-ratio;
                // padding-bottom: 56%;
                width: 100%;
                height: 100%;
            }


        }
    }

    &.tarjeta-1 {
        width: 50%;
    }



    .modal {
        width: 1px;
        display: flex;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            height: 100%;
            max-width: 1200px;
            .modal-fototeca {
                height: 90%;
                @include under(sm) {
                    width: 98%;
                }
                .slide {
                    width: 1536px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .modal__image {
                    width: auto;
                    height: 100%;
                    max-height: 75% !important;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: auto !important;
                        height: auto !important;
                        max-height: initial;
                    }
                }
                .modal__info {
                    height: 25%;
                    text-align: center;
                }
            }
            .slick-arrow {
                width: 17px !important;
                height: 30px !important;
                @include under(sm) {
                    display: none;
                }
            }
        }

        .close {
            right: 53px;
            top: 3px;
            font-weight: normal;
            @include under(sm) {
                right: 0px;
            }
        }
    }


}

/* ---- grid ---- */
.grid {
    // background: #EEE;
    width: 100%;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 275px;
    height: 165px;
    float: left;
    // margin-bottom: 17px;
    // margin-left: 10px;
    margin: 10px 10px 5px;
    border-bottom: 4px solid white;

    &:hover {
        border-bottom: 4px solid c(yellow);
    }

    .box-aspect {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.grande { 
    width: 570px; 
    height: 345px;
    @include under(md-850){
        width: 80%; 
    }
}

.arriba {
    margin-top: -175px;
    @include under(md-980){
        margin-top: 10px;
    }
}

h6 {
    em {
        
    }
}