%title {
	
}

/* H o m e */
%titulo-home-banner {
	@extend %bodoni-book;
	font-size: 37px;
	line-height: 38px;
	color: c(black);
}

%titulo-home-intro {
	@extend %bodoni-book;
	font-size: 80px;
	line-height: 96px;
	text-transform: uppercase;
	@include under(xs) {
		font-size: 60px;
	}
}

%destacados-nombre-home {
	@extend %bodoni-book;
	font-size: 35px;
	line-height: 38px;
	@include under(mobile) {
		font-size: 28px;
		line-height: 33px;
	}
}

%destacados-autor-home {
	font-family: f(opensans);
	font-weight: bold;
	font-size: 13px;
	line-height: 29px;
	text-transform: uppercase;
	color: c(gray-dark);
}

/* A b o u t */
%about-contribuye-titulo {
	@extend %bodoni-book;
	font-size: 40px;
	line-height: 48px;
}

/* S i n g l e   p o s t */
%single-post-titulo-archivo {
	@extend %opensans-bold;
	font-size: 35px;
	line-height: 42px;
}

%single-post-titulo-detalles {
	@extend %opensans-bold;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}

%single-post-contenido-detalles {
	font-family: f(opensans);
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}

%single-post-titulo-relacionados {
	font-family: f(opensans);
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 1px;
	color: c(dark);
	text-transform: uppercase;
}

/* M e d i o s */
%titulo-medios-archive {
	@extend %bodoni-book;
	font-size: 48px;
	line-height: 40px;
}

%titulo-tipo-medio {
	font-family: f(opensans);
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 1px;
	color: c(dark);
	text-transform: uppercase;
}

%descripcion-tipo-medio {
	font-family: f(opensans);
	font-size: 17px;
	line-height: 29px;
	letter-spacing: 1px;
	color: c(dark);
}

/* B i o g r a f í a */
%biografia-titulo {
	@extend %bodoni-book;
	font-size: 40px;
	line-height: 60px;
	@include under(sm) {
		font-size: 35px;
		line-height: 52px;
	}
}